<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src=" ../static/photo.jpeg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>JAYAPRABA SELVAN</h1>
          <p>  Web Developer</p>
          <div class="sum-btn">
            <a href="../static/Resume.jpg" download>  
              <button class="bt1">Download CV</button></a>
          
            <a href="./contact.html"><button class="bt2">Contact Me</button></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            I am Jayapraba .I am from Sona college of technology Studying BE Final year. My area of interest is Web development. I Know Programming languages C,JAVA,PYTHON
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>20</p>
            <p>jayapraba.selvan@gmail.com</p>
            <p>+91 9597115470</p>
            <p>40, City Center,SALEM,TAMILNADU </p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          
        </div>
      </div>
      
    </div>
  </body>
</html>
