<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src=" ../static/photo.jpeg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Jothimani M</h1>
          <p>Web Developer</p>
          <div class="sum-btn">
            <a href="../static/Resume.jpeg" download>  
              <button class="bt1">Download CV</button></a>
          
            <a href="./contact.html"><button class="bt2">Contact Me</button></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            Hello I'm  Jothimani M.I am Passionate about Software Developer. I am Skilled with Full Stack Developer and learn new things to develop app development and web development.
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>20</p>
            <p>jothimanicse2019@gmail.com</p>
            <p>+91 9361440771</p>
            <p>Pattikarankottai(vill), kethanahalli(po),karimangalam(tk), Dharmapuri(dt), pincode: 635111</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>python</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>Java</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Os</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
