<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Job Website</title>
    <link rel="stylesheet" href="style.css">
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <header>
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href=""><img src="jobify.png" alt="" class="image-size"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-primarys="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link effect dropdown-btn" href="#">Jobs</a>
                        <div class="dropdown-content">
                          <a href="#">Fresher Jobs</a>
                          <a href="#">Remote Jobs</a>
                          <a href="#">On-site Jobs</a>
                          <a href="#">Part-time Jobs</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link effect dropdown-btn" href="#">Companies</a>
                        <div class="dropdown-content">
                          <a href="#">Unicorn</a>
                          <a href="#">MNCs</a>
                          <a href="#">Startup</a>
                          <a href="#">Product-based</a>
                          <a href="#">Internet</a>
                        </div>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link effect dropdown-btn" href="#">Services</a>
                        <div class="dropdown-content">
                          <a href="#">Resume Builder</a>
                          <a href="#">Find Jobs</a>
                          <a href="#">Get Recruiter's Attention</a>
                          <a href="#">Learn & Upskill</a>
                          <a href="#">Monthly Subscriptions</a>
                          <a href="#">Free Resume Resources</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link effect" href="signup.html">Register</a>
                      </li>
                    <a href="login.html">
                      <li class="nav-item">
                        <button class="login_btn">Login</button>
                      </li>
                    </a>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>

      <main>
        <div class="banner text-center">
          <h1>Find Your Dream Job Now</h1>
          <p>20 lakh+ jobs for you to explore</p>
        </div>
        
        <div class="search-job text-center">
          <input type="text" class="form-primary" placeholder="Enter Keyword">
          <input type="text" class="form-primary" placeholder="Enter Company">
          <input type="text" class="form-primary" placeholder="Enter Location">
          <button type="submit">Find Job</button>
        </div>
      </div>

      <div class="section">
        <div class="container text-center">
          <h3>OUR TOP RECRUITERS</h3>
            <div class="image-primary">
              <div class="image1">
              <img src="uber.png" alt="" class="img1">
              <img src="fb.png" alt="" class="img1">
              <img src="microsoft.png" alt="" class="img1">
              <img src="panasonic.png" alt="" class="img1">
              </div>
              <div class="image2">
                <img src="at&t.png" alt="" class="img2">
                <img src="sony.png" alt="" class="img2">
                <img src="asus.png" alt="" class="img2">
                <img src="salesforce.png" alt="" class="img2">
              </div>
              <div class="image3">
                <img src="dell.png" alt="" class="img3">
                <img src="google.png" alt="" class="img3">
                <img src="ibm.png" alt="" class="img3">
                <img src="amazon.png" alt="" class="img3">
              </div>
            </div>   
          </div>



      <div id="jobs">
        <div class="container">
        <h6>CURRENT OPENINGS</h6>
        <div class="company-details">
        <div class="job-update">
          <h4><b>Junior Python Developer</b> <button type="submit" class="btn btn-primary">Apply</button></h4>
          <p><img src="dell.png" alt=""> Dell Technologies Pvt Ltd</p>
          <i class="las la-briefcase"></i> <span>1-3 years</span><br>
          <i class="las la-rupee-sign"></i> <span>  5-10 LPA</span><br>
          <i class="las la-map-marker"></i> <span>Bengaluru</span><br>
          <p>Skills <i class="las la-angle-double-right"></i><small>Python</small><small>Django/Flask</small><small>HTML</small><small>CSS</small><small>Javascript</small>
            <small>MySQL</small></p>
          <p>Description <i class="las la-angle-double-right"></i> Experienced with the workflow of Django's backend as well as the frontend design with javascript, possibly ReactJS <a href="#">Read more...</a></p>
          
        </div>
        <div class="color-1">
        </div>
        </div>
        
        </div>
        
      </div>


      <div id="jobs">
        <div class="container">
        <div class="company-details">
        <div class="job-update">
          <h4><b>Junior Python Developer</b> <button type="submit" class="btn btn-primary">Apply</button></h4>
          <p><img src="dell.png" alt=""> Dell Technologies Pvt Ltd</p>
          <i class="las la-briefcase"></i> <span>1-3 years</span><br>
          <i class="las la-rupee-sign"></i> <span>  5-10 LPA</span><br>
          <i class="las la-map-marker"></i> <span>Bengaluru</span><br>
          <p>Skills <i class="las la-angle-double-right"></i><small>Python</small><small>Django/Flask</small><small>HTML</small><small>CSS</small><small>Javascript</small>
            <small>MySQL</small></p>
          <p>Description <i class="las la-angle-double-right"></i> Experienced with the workflow of Django's backend as well as the frontend design with javascript, possibly ReactJS <a href="#">Read more...</a></p>
        </div>
        <div class="color-1">
        </div>
        </div>
        </div>
      </div>
    
      <div id="jobs">
        <div class="container">
        <div class="company-details">
        <div class="job-update">
          <h4><b>Junior Python Developer</b> <button type="submit" class="btn btn-primary">Apply</button></h4>
          <p><img src="dell.png" alt=""> Dell Technologies Pvt Ltd</p>
          <i class="las la-briefcase"></i> <span>1-3 years</span><br>
          <i class="las la-rupee-sign"></i> <span>  5-10 LPA</span><br>
          <i class="las la-map-marker"></i> <span>Bengaluru</span><br>
          <p>Skills <i class="las la-angle-double-right"></i><small>Python</small><small>Django/Flask</small><small>HTML</small><small>CSS</small><small>Javascript</small>
            <small>MySQL</small></p>
          <p>Description <i class="las la-angle-double-right"></i> Experienced with the workflow of Django's backend as well as the frontend design with javascript, possibly ReactJS <a href="#">Read more...</a></p>
        </div>
        <div class="color-1">
        </div>
        </div>
        </div>
      </div>
      
      <div id="jobs">
        <div class="container">
        <div class="company-details">
        <div class="job-update">
          <h4><b>Junior Python Developer</b> <button type="submit" class="btn btn-primary">Apply</button></h4>
          <p><img src="dell.png" alt=""> Dell Technologies Pvt Ltd</p>
          <i class="las la-briefcase"></i> <span>1-3 years</span><br>
          <i class="las la-rupee-sign"></i> <span>5-10 LPA</span><br>
          <i class="las la-map-marker"></i> <span>Bengaluru</span><br>
          <p>Skills <i class="las la-angle-double-right"></i><small>Python</small><small>Django/Flask</small><small>HTML</small><small>CSS</small><small>Javascript</small>
            <small>MySQL</small></p>
          <p>Description <i class="las la-angle-double-right"></i> Experienced with the workflow of Django's backend as well as the frontend design with javascript, possibly ReactJS <a href="#">Read more...</a></p>
        </div>
        <div class="color-1">
        </div>
        </div>
        </div>
      </div>
  
      <div id="jobs">
        <div class="page-no">
          <a href="index.html" class="no">1</a>
          <a href="" class="no">2</a>
          <a href="" class="no">3</a>
          <span class="material-symbols-outlined">double_arrow</span>
          
        </div>
      </div>


      <div class="section">
        <div class="container">
          <h3>EXPLORE BY JOB CATEGORIES</h3>
          <div id="category-1">
            <div class="topic">
              <span class="material-symbols-outlined">domain</span><h6><b>MNCs</b></h6><p class="hiring">50K+ companies are actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">account_balance</span><h6 class="spl-effect"><b>Banking & Finance</b></h6><p class="hiring">15K+ companies are actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">category</span><h6><b>Product-based</b></h6><p class="hiring">5K+ companies are actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">history_edu</span><h6><b>Ed-Tech</b></h6><p class="hiring">300 companies are actively hiring</p>
            </div>
          </div>

          <div id="category-2">
            <div class="topic">
              <span class="material-symbols-outlined">computer</span><h6><b>Fin-Tech</b></h6><p class="hiring">3K+ companies are actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">local_shipping</span><h6><b>Operational</b></h6><p class="hiring">1K+ companies are  actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">spa</span><h6><b>Hospitality</b></h6><p class="hiring">100 companies are actively hiring</p>
            </div>
            <div class="topic">
              <span class="material-symbols-outlined">groups</span><h6 class="spl-effect"><b>HR & Management</b></h6><p class="hiring">30K+ companies are actively hiring</p>
            </div>
          </div>
          <div class="viewmore">
            <span>View More <i class="las la-angle-down"></i></span>
          </div>
        </div>
      </div>

      


          <div class="color-2">
            <div class="title">
              <h4>Finding Jobs Got Easier Now. Download Jobify App.</h4>
              <img src="google_playstore.png" alt="" class="pic"><img src="ios_store.png" alt="" class="pic">
            </div>
          </div>
      </main>




          <footer>
            <div class="options">
              <div class="candidate">
                <h4><b>For Candidate</b></h4>
                <p>Job Search</p>
                <p>Candidate Login</p>
                <p>Upload Resume</p>
                <p>Search Tips</p>
                <p>Career Advices</p>
                <p>Free Job Alert</p>
                <p>Find Companies</p>
              </div>
              <hr>
        
              <div class="rights">
                <span><i class="las la-copyright"></i> <span>2022 Jobify - All Rights Reserved</span></span>
                <p>Made with <span class="heart">❤️</span> by Tanwi</p>
              </div>
            </div>
          

           

            <div class="options">
              <div class="companies">
                <h4><b>For Company</b></h4>
                <p>Track Applications</p>
                <p>Company Login</p>
                <p>Buy Job Postings</p>
                <p>Advertise With Us</p>
                <p>Access Your Database</p>
              </div>
            </div>

            <div class="options">
              <div class="jobify">
                <h4><b>About Jobify</b></h4>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>Help Center</p>
                <p>Report An Issue</p>
              </div>
            </div>

            <div class="connect">
              <h6 style="font-size: 18px;">Connect With Us</h6>
                <i class="fa fa-facebook" style="color: blue;font-size: 25px;"></i>
                <i class="fa fa-instagram" style="color:red;font-size: 25px;"></i>
                <i class="fa fa-twitter" style="color:skyblue;font-size: 25px;"></i>
                <i class="fa fa-linkedin" style="color:blue;font-size: 25px;"></i>
            </div>
          </footer>
      



          




    
  

     



          
            




























































































 